.Titulo{
    text-align: center;
    padding-bottom: 0.5em;
    font-style: normal;
    font-weight: bold;
    color: rgb(203, 197, 201);
}

 .image {
    position: fixed;
    object-fit: cover;
    top:0;
    left:0;
    z-index: -1;
   
    height: 100vh;
    width: 100%;
    align-content: center;
    border-radius: 10px;
   
} 
.btnR{
    
}
.card2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 500px) {
    .divFiltros {
        height: auto;
        width: auto;
    }

}

@media only screen and (min-width:501) and (max-width: 850px) {} 